* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clockImage {
    height: 10vh;
}

#heading {
    font-family: 'Acme', sans-serif;
    font-size: 4rem;
    text-decoration: underline;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px 0 0 0;
}

.clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #000000cc;
    border-radius: 61px;
    width: 75vw;
    height: 66vh;
    font-family: 'Changa', sans-serif;
    color: #15b415;
    background-color: #000000cc;
}

.clock h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 4rem;
    margin: 10px 0 0 0;
    padding: 0 10px 0 0;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

#days {
    margin: 0 10px 0 0;
}

.alarmForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alarmForm p {
    margin: 0 10px 0 0;
}

.alarmBtn {
    border: 2px solid black;
    font-size: 1rem;
    border-radius: 17px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 10vw;
    height: 4vh;
    font-family: 'Chakra Petch', sans-serif;
}

.alarmBtn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

h2 {
    text-align: center;
    margin: 10px 0 10px 0;
    font-family: 'IBM Plex Mono', monospace;
}

.select {
    text-align: center;
    border: 2px solid black;
    width: 10vw;
    height: 4vh;
    margin: 0 10px 0 0;
}

.mid {
    display: flex;
    justify-content: center;
    align-items: center;
}

#bell,
#alarmTime {
    display: none;
}

.mid img {
    height: 4vh;
}

@media  screen and (max-width: 1218px) {
    .card {
        font-size: 5rem;
    }

    .clock h1 {
        font-size: 3rem;
    }

    .alarmBtn {
        font-size: 0.5rem;
    }
}


@media  screen and (max-width: 606px) {
    .card {
        font-size: 3rem;
    }

    .clock h1 {
        font-size: 2rem;
    }
    
}

@media  screen and (max-width: 598px) {
    #heading {
        font-size: 2rem;
    }

    .clockImage {
        height: 5vh;
    }
}

@media  screen and (max-width: 458px) {
    .card {
        font-size: 2rem;
    }

    .clock h1 {
        font-size: 1rem;
    }

    .time{
        font-size: 1rem;
    }

    .alarmBtn {
        font-size: 0.3rem;
    }

    select {
        font-size: 0.5rem;
    }
}